.row {
    display: flex;
    justify-content: center;
    margin: 15px;
    background: indianred
}

.col-4 {
    background-color: lightblue;
    padding: 10px;
    margin: 5px;
    max-width: 30%;
    text-align: center;
}

.container {
    margin: auto
}